PORT=5000
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/employee-id?retryWrites=true&w=majority
FRONTEND_URL=https://khjnrb9t-5173.inc1.devtunnels.ms/
JWT_SECRET=change-me-in-production
