fastapi
uvicorn[standard]
jinja2
python-multipart

sqlalchemy
pydantic
pydantic-settings

python-dotenv

passlib[bcrypt]
bcrypt
python-jose[cryptography]

pandas
openpyxl

qrcode[pil]
Pillow

email-validator

pytest
httpx